.App {
  background: {
    image: url("../components/Header/header.jpg");
    size: cover;
    repeat: no-repeat;
    position: center bottom;
  }
  height: 100vh;
  width: 100%;
}

.app-wrapper {
  height: calc(100% - 80px);
  padding-top: 80px;
}
