// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 15px;
  border: 1px solid black;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}
